{% extends 'index.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

<div class="contact-body">
  <h1 class="title">Contact Us</h1>
  <h3>Any queries or remarks?</h3>
  <h3>Reach out to us! <a href="#contact-form"><i class="uil uil-angle-double-down icon"></i></a></h3>
</div>

<hr class="first">

<div class="contact-info">
  <div class="contact-boxes">
    <span><i class="fa-solid fa-phone"></i></span>
    <span class="contact-text">Phone No.</span>
    <span class="text">0123456789</span>
  </div>
  <div class="contact-boxes">
    <span><i class="fa-solid fa-envelope"></i></span>
    <span class="contact-text">E-mail</span>
    <span class="text">xyz@iitm.com</span>
  </div>
  <div class="contact-boxes">
    <span><i class="fa-solid fa-location-dot"></i></span>
    <span class="contact-text">Address</span>
    <span class="text">D-27 & 28 Institutional Area, Janakpuri, New Delhi, Delhi 110058</span>
  </div>
  <div class="contact-boxes">
    <span><i class="fa-solid fa-lock-open"></i></span>
    <span class="contact-text">Opening Hours</span>
    <span class="text">Monday - Saturday (8:00 AM to 5:00 PM)</span>
  </div>
</div>

<hr class="second">

<div id="contact-form" class="contact-form">
  <div class="form">
    <form method="POST" action="">
      {% csrf_token %}

      <div>
        <input id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name">
        <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Last Name">
      </div>
      <div>
        <input id="email" name="email" type="email" class="form-control" placeholder="E-mail">
        <input id="phone" name="phone" type="text" class="form-control" placeholder="Phone">
      </div>
      <textarea id="message" name="message" rows="5" placeholder="Message" class="form-control"></textarea>
      <div class="send">
        <input type="submit" class="send-btn" value="Send">
      </div>
    </form>

  </div>

  <div>
    <img class="contact-img" src="/static/contactPageimages/contact-image.png" alt="">
  </div>

  </section>

</div>

{% endblock body %}