{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<section class="grid">
    <div class="content">
        <div class="content-left">
            <div class="info">
                <h2>For The Love Of <br> <br> Delicious Food</h2>
                <p>Quick eats For busy people </p>
            </div>
           <a href="/stall"><button >Explore Food</button></a> 
        </div>

        <div class="content-right">
            <img src="/static/homepage/food_plate.png" alt="">
        </div>

    </div>
</section>
<section class="category">
    <div class="list-items">
        <h2>Popular Dishes Of 6iteamin</h2>
        
        <div class="Food-card-list">
            {% for i in products %}
            {%if i.StallName2 == '6iteamin'%}
                <div class="Food-card">
                <img src="/media/{{i.productImg}}" alt="">
                <div class="food-title">
                    <h1>{{i.productName}}</h1>
                </div>
                <div class="desc-food">
                    <p>{{i.productDesc}}</p>
                </div>
                <div class="price">
                    </i></span> <span>&#8377 {{i.price}}</span>
                    <span><button data-product={{i.id}} data-action="add" class=" fa-solid fa-circle-plus icon update-cart"></button></span>
                </div>
            </div>
            {% endif %}
            {%endfor%}
        </div>
        
    </div>
</section>
<section class="About" id="about">
    <h1>About Us</h1>
    <br>
    <span class="section_subtitle">IITM Cafeteria</span>

    <div class="about-container">
        <div class="img">
            <img class="about-image" src="/static/About-us-img.jpg" alt="">
        </div>

        <div class="about-data">
            <p class="about-desc">Welcome to IITM Cafeteria! We take pride in providing a vibrant and enjoyable dining experience to all members of our college community. Our canteen is a hub of culinary delight, where students, faculty, and staff can come together to enjoy delicious food and socialize. <br> At our canteen, we understand the importance of offering a diverse range of food options to cater to the varied tastes and preferences of our college community. Whether you're in the mood for a hearty meal, a quick snack, or a refreshing beverage, we have something for everyone. <br> Your satisfaction is our top priority, and we are constantly striving to improve our services. To achieve this, we are here with the facility of providing you with your orders at your desired location in the campus. <br> So what are you waiting for? Place your order now.
            </p>
        </div>
    </div>


</section>
{% endblock body %}













{% block script %}

{% endblock script %}