{% extends 'index.html' %}

{% block title %} Search {% endblock title %}

{% block body %}

{% for p in productname %}
<section class="category">
<div class="list-items">
<div class="Food-card-list">
<div class="Food-card">
    <img src="/media/{{p.productImg}}" style="width: 100px ; height: 100px ; width: 100px;
    height: 80px;
    bottom: 140px;
    left: 50px;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;" alt="">
    <div class="food-title">
        <h1>{{p.productName}}</h1>
    </div>
    <div class="desc-food">
        <p>{{p.productDesc}}</p>
    </div>
    <div class="price">
        </i></span> <span>&#8377 {{p.price}}</span>
        <span><button data-product={{p.id}} data-action="add" class=" fa-solid fa-circle-plus icon update-cart"></button></span>
    </div>
</div>
</div>
</div>
</section>
    

{% endfor %}

{% endblock body %}


