{% extends 'index.html' %}

{% block title %} Search {% endblock title %}

{% block body %}
<div class="Menu-heading">
    <h1>Search Results</h1>
</div>

<section class="category">
    
    <div class="list-items">
        {% comment %} <h4>{{.category}}</h4> {% endcomment %}
        
            
        <div class="Food-card-list">
            {% for i in  productname %}
            <div class="Food-card">
                <img src="/media/{{i.productImg}}" alt="">
                <div class="food-title">
                    <h1>{{i.productName}}</h1>
                </div>
                <div class="desc-food">
                    <p>{{i.productDesc}}</p>
                </div>
                <div class="price">
                    </i></span> <span>&#8377 {{i.price}}</span>
                    <span><button data-product={{i.id}} data-action="add" class=" fa-solid fa-circle-plus icon update-cart"></button></span>
                </div>
            </div>
            {%endfor%}
        </div>
        
    </div>
    
</section>




{% endblock body %}