@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;500;600&family=Roboto+Slab&display=swap');


.first{
    margin: 0rem auto;
    background-color: none;
    width: 35%;
    border-style: none;
    border-top-style: dotted;
    border-color:#ff511c;
    border-width: 5px;
    
}
.second{
    margin: 0rem auto;
    background-color: none;
    width: 35%;
    border-style: none;
    border-top-style: dotted;
    border-color:#ff511c;
    border-width: 5px;
}

.icon {
    color: #ff511c;
}


.contact-body {
    margin: 50px 0px;
    text-align: center;
    color: #ff511c;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    font-size: 4rem;
}

.contact-body h3 {
    font-size: 2rem;
}

.contact-info, .contact-form {
    display: flex;
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    justify-content: space-evenly;
}
.contact-info span {
    display: block;
}
.contact-info div {
    margin: 0.8rem 0;
}

.contact-boxes {
    width: 200px;
    height: 160px;
    border: 5px solid #ff511c;
    background-color: white;
    border-radius: 12px;
}

.contact-boxes i {
    font-size: 2rem;
    padding: 0.8rem;
    color: #ff511c;
}

.contact-text {
    padding-top: 1rem;
    font-size: larger;
    font-weight: 700;
    color:  #ac4603;
}

.contact-img{
    height: 361px;
    width: 414px;
    margin-left: -90px;
}

.contact-form{
    padding: 2rem 0;
}
.contact-form form{
    padding-bottom: 1rem;
}

.form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.form-control{
    width: 100%;
    border: 1.5px solid #E4E9FD;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}

.form input {
    background-color: #f38455;
    color: black;
    height: 50px;
}
.form textarea {
    background-color: #f38455;
}

.send {
    align-items: center;
}

.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient( #ff511c, #ac4603);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}
