<header>
    <div class="navbar">
    <div class="logo"><a href="/" class="heading_text">Delicious Food</a></div>

    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Order</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="dropbtn">Welcome! {{request.user}}</button>
        <div class="dropdown-content">
          <a href="/logout">Logout</a>

        </div>
      </div>
      {% else %}
    <div class="btns">
    <a href="/login" class="login_btn">Login</a>
    </div>
    {% endif %}
    
    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
    </div>
    
</div>

<div class="dropdown_menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Order</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if user.is_authenticated %}
        <li><div class="dropdown">
            <button class="dropbtn">Welcome! {{request.user}}</button>
            <div class="dropdown-content">
              <a href="/logout">Logout</a>
            </div>
          </div></li>
          {% else %}
        <li><a href="/login" class="login_btn">Login</a></li>
        {% endif %}
</div>
</header>


<script>
    const togglebtn = document.querySelector('.toggle_btn')
    const togglebtnIcon = document.querySelector('.toggle_btn i')
    const dropdownmenu = document.querySelector('.dropdown_menu')
    togglebtn.onclick = function(){
        dropdownmenu.classList.toggle ('open')
      const isOpen = dropdownmenu.classList.contains ('open')
      togglebtnIcon.classList = isOpen
    ? 'fa-solid fa-xmark'
       :'fa-solid fa-bars'
    }
</script>