<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}
  

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Canteen management | {% block title %}{% endblock title %}</title>

 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="shortcut icon" href="/static/favicon_logo.png" type="image/x-icon" />
   {% comment %}   
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    rel="stylesheet" />
     {% endcomment %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link rel="stylesheet" href="/static/header.css" />
  <link rel="stylesheet" href="/static/footer.css" />
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/home/home.css" />
  <link rel="stylesheet" href="/static/home/contact.css" />
  <link rel="stylesheet" href="/static/home/login.css" />
  <link rel="stylesheet" href="/static/stall/res.css" />
  <link rel="stylesheet" href="/static/stall/menu.css" />
  <link rel="stylesheet" href="/static/stall/cart.css" />
  <link rel="stylesheet" href="/static/stall/checkout.css" />
  <link rel="stylesheet" href="/static/stall/prev_ord.css" />
  <link rel="stylesheet" href="/static/stall/orderplaced.css" />



  <script type="text/javascript">
    var user = "{{request.user}}";

    function getToken(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(
              cookie.substring(name.length + 1)
            );
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getToken("csrftoken");
  </script>
</head>

<body>
  {% include 'header.html'%} 

  {% for message in messages %}
        <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Message -> {{message}}
        </div> 
    {% endfor %}


   {% block body %} 
   {% endblock body %}
  


  <script src="/static/javascript/cart.js"></script>

</body>

{% block script %} {% endblock script %}

</html>