{% extends 'index.html' %}

{% block title %}Cart{% endblock title %}

{% block body %}





{% if order.get_cart_items == 0 %}

<div class="Shopping-container">
    <div class="heading-container">
        <h1 class="heading-cart-login">Your Cart is Empty ! Add Tasty Food </h1>
    </div>
    <div class="shoping-btn-container">
        <button class="btn-cart-login">Order here!</button>
    </div>

</div>


{% elif  order.get_cart_items != 0 %}

<div class="wrapper">
    <h1>Shopping Cart</h1>
    <div class="project">
        <div class="shop">
            {% for i in items %}
            <div class="cart-box">
                <img src="/media/{{i.product.productImg}}">
                <div class="cart-content">
                    <h3>{{i.product.productName}} ({{i.product.StallName2}})</h3>
                    <div class="price">
                        <p>Price: &#8377 {{i.product.price}}</p>
                        <p>Subtotal: &#8377 {{i.get_total}}</p>
                    </div>
                    <div class="quantity">
                        <p class="unit">Quantity: {{i.quantity}}</p>
                        <div class="icon"> <!-- to insert + - buttons -->
                            <button data-product={{i.product.id}} data-action="add" class="icon-btn-plus fa fa-plus update-cart"></button>
                            <button data-product={{i.product.id}} data-action="remove" class="icon-btn-minus fa fa-minus update-cart"></button>
                        </div>
                    </div>
                    <p class="btn-area"><button data-product={{i.product.id}} data-action="remove-item" class=" remove-btn fa fa-trash update-cart">Remove</button></p>
                </div>
            </div>

            {% endfor %}
            
        </div>
        <div class="right-bar">
            <p><span>Items :</span> <span>{{order.get_cart_items}}</span></p>
            <hr>
            <p><span>Total :</span> <span> &#8377 {{order.get_cart_total}}</span></p><a href="/checkout"><i class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
    </div>
</div>
{%endif%}




{% endblock body%}